.gras {
  font-weight:600;
}
.g {
  font-weight:500;
}

dt {
  color:red;
  font-weight:bold;
  text-align:center;
}
dd {
  color:green;
  text-align:center;
}

.def {
  width:25%;
  float:left;
}

pre {
  background-color:black; color:white;
  width: 60%;
  margin-left: 5%;
}
